<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'createRecord.css') }}">
    <title>Document</title>
</head>

<body>
    <header><a href="index.html"><img id="logo" src="{{ url_for('static', filename = 'logo.jpeg') }}" alt="logo"></a>
        <div class="header-auth">Nombre Medico</div>
    </header>
    <div class="content">
        <div class="catalog-background">
            <div class="column-left">
                <form action="/newrecord" method="post" id="form"><label for="lastname">Buscar Paciente</label><input id="lastname" type="text" name="lastname" onkeydown="refreshSearchBar()"><br><br><label for="images">Lista de imagenes</label>
                    <div id="patient-images-container"><input id="images" type="file" multiple></div><br><label for="study">Estudio</label><select id="study" name="study">
                        <option value="CARPOGRAMA">CARPOGRAMA R</option>
                        <option value="CARPOGRAMA">DETECTAR EDAD OSEA R</option>
                        <option value="CLAVICULA">CLAVICULA R</option>
                        <option value="ANTEBRAZO">ANTEBRAZO R</option>
                        <option value="CODO">CODO R</option>
                        <option value="MUNECA">MUNECA R</option>
                        <option value="DEDOSENMANO">DEDOS EN MANO R</option>
                        <option value="PIE AP Y LATERAL">PIE AP Y LATERAL R</option>
                        <option value="CALCANEO AXIAL Y LATERAL">CALCANEO AXIAL Y LATERAL R</option>
                        <option value="TOBILLO AP LATERAL Y ROTACION INTERNA">TOBILLO AP LATERAL Y ROTACION INTERNA R</option>
                        <option value="ANTEPIE AP Y OBLICUA">ANTEPIE AP Y OBLICUA R</option>
                        <option value="OMOPLATO">OMOPLATO R</option>
                        <option value="HUMERO">HUMERO R</option>
                        <option value="HOMBRO">HOMBRO R</option>
                        <option value="FEMUR AP Y LATERAL">FEMUR AP Y LATERAL R</option>
                        <option value="PIERNA AP Y LATERAL">PIERNA AP Y LATERAL R</option>
                        <option value="ANTEVERSION TIBIAL">ANTEVERSION TIBIAL R</option>
                        <option value="MIEMBRO INFERIOR AP Y LATERAL">MIEMBRO INFERIOR AP Y LATERAL R</option>
                        <option value="RODILLA AP Y LATERAL">RODILLA AP Y LATERAL R</option>
                        <option value="ESTUDIO DE FARILL UOSTEOMETRIA">UOSTEOMETRIA R</option>
                        <option value="ESTUDIO DE FARILL UOSTEOMETRIA">MEDICION DE MIEMBROS INFERIORES R</option>
                        <option value="ESTUDIO DE FARILL UOSTEOMETRIA">PIE PLANO R</option>
                        <option value="AXIALES DE ROTULA">AXIALES DE ROTULA R</option>
                        <option value="AXIALES DE ROTULA">LONGITUD DE MIEMBROS INFERIORES R</option>
                        <option value="ANTEVERSION FEMORAL">ANTEVERSION FEMORAL R</option>
                        <option value="ARTICULACIONES SACROILIACAS">ARTICULACIONES SACROILIACAS R</option>
                        <option value="PELVIS">PELVIS R</option>
                        <option value="PELVIS">ARTICULACION COXO-FEMORAL (AP, LATERAL) R</option>
                        <option value="ARTICULACIONES ACROMIO CLAVICULARES COMPARATIVAS">ARTICULACIONES ACROMIO CLAVICULARES COMPARATIVAS R</option>
                        <option value="PELVISCADERA">PELVIS (CADERA) COMPARATIVA R</option>
                        <option value="RODILLAS COMPARATIVAS POSICION VERTICAL (ANTEROPOSTERIOR)">RODILLAS COMPARATIVAS POSICION VERTICAL ANTEPOSTERIOR R</option>
                        <option value="COMPARATIVAS EXTREMIDADES INFERIORES">COMPARATIVAS EXTREMIDADES INFERIORES R</option>
                        <option value="STRESS">STRESS R</option>
                        <option value="TUNEL">TUNEL R</option>
                        <option value="OBLICUAS">OBLICUAS R</option>
                        <option value="TANGENCIAL ROTULA">TANGENCIAL DE ROTULA R</option>
                        <option value="HUESOS LARGOS SERIE COMPLETA">HUESOS LARGOS SERIE COMPLETA R</option>
                        <option value="HUESOS LARGOS SERIE COMPLETA">ESQUELETO AXIAL Y APENDIPULAR R</option>
                        <option value="SILLA TURCA">SILLA TURCA R</option>
                        <option value="PERFILOGRAMA">PERFILOGRAMA R</option>
                        <option value="PERFILOGRAMA">CARA R</option>
                        <option value="MALAR">MALAR R</option>
                        <option value="ARCO CIGOMATICO">ARCO CIGOMATICO R</option>
                        <option value="HUESOS NASALES">HUESOS NASALES R</option>
                        <option value="MAXILAR SUPERIOR">MAXILAR SUPERIOR R</option>
                        <option value="ORBITAS">ORBITAS R</option>
                        <option value="AGUJEROS OPTICOS">AGUJEROS OPTICOS R</option>
                        <option value="SENOS PARANASALES">SENOS PARANASALES R</option>
                        <option value="MAXILAR INFERIOR">MAXILAR INFERIOR R</option>
                        <option value="ATM">ATM R</option>
                        <option value="ATM">ARTICULACION TEMPOROMAXILAR R</option>
                        <option value="CRANEO SIMPLE">CRANEO SIMPLE R</option>
                        <option value="BASE DE CRANEO">BASE DE CRANEO R</option>
                        <option value="CEFALOMETRIA">CEFALOMETRIA R</option>
                        <option value="MASTOIDES COMPARATIVAS">MASTOIDES COMPARATIVAS R</option>
                        <option value="PENASCOS">PENASCOS R</option>
                        <option value="CONDUCTO AUDITIVO INTERNO">CONDUCTO AUDITIVO INTERNO R</option>
                        <option value="TEJIDOS BLANDOS DE CUELLO">TEJIDOS BLANDOS DE CUELLO R</option>
                        <option value="CAVUM FARINGEO">CAVUM FARINGEO R</option>
                        <option value="FARINGOGRAFIA">FARINGOGRAFIA R</option>
                        <option value="FARINGOGRAFIA">FARINGE R</option>
                        <option value="COLUMNA CERVICAL">COLUMNA CERVICAL R</option>
                        <option value="COLUMNA UNION CERVICO DORSAL">COLUMNA UNION CERVICO DORSAL R</option>
                        <option value="COLUMNA TORACICA">COLUMNA TORACICA R</option>
                        <option value="COLUMNA LUMBOSACRA">COLUMNA LUMBOSACRA R </option>
                        <option value="SACRO COCCIX">SACRO COCCIX R</option>
                        <option value="TEST DE ESCOLIOSIS">TEST DE ESCOLIOSIS </option>
                        <option value="REJA COSTAL">REJA COSTAL R</option>
                        <option value="TORAX R">TORAX R</option>
                        <option value="ESTERNON">ESTERNON R</option>
                        <option value="ARTICULACIONES ESTERNOCLAVICULARES">ARTICULACIONES ESTERNOCLAVICULARES R</option>
                        <option value="ABDOMEN SIMPLE">ABDOMEN SIMPLE R</option>
                        <option value="ABDOMEN SIMPLE CON PROYECCIONES ADICIONALES">ABODMEN SIMPLE CON PROYECCIONES ADICIONALES R</option>
                        <option value="ABDOMEN SIMPLE CON PROYECCIONES ADICIONALES">SERIE DE ABDOMEN AGUDO R</option>
                        <option value="TEJIDOS BLANDOS DE CARA">TEJIDOS BLANDOS DE CARA E</option>
                        <option value="GLANDULAS SALIVALES TRANSDUCTOR 7MHZ">GLANDULAS SALIVALES CON TRANSDUCTOR DE 7MHZ o mas E</option>
                        <option value="GLANGLIOS CERVICALES">GLANGLIOS CERVICALES (MAPEO) E</option>
                        <option value="MAMA TRANSDUCTOR 7MHZ">MAMA CON TRANSDUCTOR DE 7MHZ o mas E</option>
                        <option value="TORAX">TORAX (PERICARDIO O PLEURA) E</option>
                        <option value="OTROS SITIOS TORACICOS">OTROS SITIOS TORACICOS E</option>
                        <option value="TEJIDOS BLANDOS DE PARED ABDOMINAL Y DE PELVIS">TEJIDOS BLANDOS DE PARED ABDOMINAL Y DE PELVIS E</option>
                        <option value="ABDOMEN TOTAL">ABDOMEN TOTAL E</option>
                        <option value="ABDOMEN SUPERIOR">ABDOMEN SUPERIOR E</option>
                        <option value="HIGADO PANCREAS VIA BILIAR Y VESICULA">HIGADO PANCREAS VIA BILIAR Y VESICULA E</option>
                        <option value="PILORO">ABDOMEN (PILORO) E</option>
                        <option value="RINONES">RINONES E</option>
                        <option value="BAZO">BAZO E</option>
                        <option value="AORTA">AORTA E</option>
                        <option value="ADRENALES">ADRENALES E</option>
                        <option value="VIAS URINARIAS">VIAS URINARIAS (RINONES VEJIGA PROSTATA TRANSABDOMINAL) E</option>
                        <option value="ABDOMEN">ABDOMEN (MASAS ABDOMINALES Y DE RETROPERITONEO) E</option>
                        <option value="PELVICA">PELVICA CON ANALISIS DOPPLER E</option>
                        <option value="TEJIDOS BLANDOS DE ABDOMEN CON ANALISIS DOPPLER">TEJIDOS BLANDOS DE ABDOMEN CON ANALISIS DOPPLER E</option>
                        <option value="PELVICA GINECOLOGICA TRANSVAGINAL">PELVICA GINECOLOGICA TRANSVAGINAL E</option>
                        <option value="PELVICA GINECOLOGICA TRANSABDOMINAL">PELVICA GINECOLOGICA TRANSABDOMINAL E</option>
                        <option value="OBSTETRICA TRANSABDOMINAL">OBSTETRICA TRANSABDOMINAL E</option>
                        <option value="OBSTETRICA TRANSVAGINAL">OBSTETRICA TRANSVAGINAL E</option>
                        <option value="PERFIL BIOFISICO">PERFIL BIOFISICO </option>
                        <option value="PROSTATA TRANSABDOMINAL">PROSTATA TRANSABDOMINAL E</option>
                        <option value="PROSTATA TRANSRECTAL">PROSTATA TRANSRECTAL E</option>
                        <option value="TESTICULAR CON TRANSDUCTOR DE 7MHZ">TESTICULAR CON TRANSDUCTOR DE 7MHZ E</option>
                        <option value="TESTICULAR CON ANALIIS DE DOPPLER">TESTICULAR CON ANALISIS DE DOPPLER E</option>
                        <option value="TEJIDOS BLANDOS EN LAS EXTREMIDADES SUPERIORES CON TRANSDUCTOR DE 7MHZ">TEJIDOS BLANDOS EN LAS EXTREMIDADES SUPERIORES CON TRANSDUCTOR DE 7MHZ E</option>
                        <option value="CONSULTA">CONSULTA</option>
                        <option value="CONSULTA">CONSULTA NEFROLOGIA</option>
                    </select><label for="sponsor">Prestador</label><select id="sponsor" name="sponsor">
                        <option value="COOMEVA MEDICINA PREPAGADA">COOMEVA MEDICINA PREPAGADA</option>
                        <option value="BOLIVAR">BOLIVAR</option>
                        <option value="S">S</option>
                        <option value="COLSANITAS">COLSANITAS</option>
                        <option value="SALUDAMOS">SALUDAMOS</option>
                        <option value="SAGRADA FAMILIA">SAGRADA FAMILIA</option>
                        <option value="GRUPOVIVIR">GRUPOVIVIR</option>
                        <option value="AXA COLPATRIA">AXA COLPATRIA</option>
                        <option value="COLMEDICA PREPAGADA">COLMEDICA PREPAGADA</option>
                        <option value="ALLIANZ">ALLIANZ</option>
                        <option value="SURA POLIZA">SURA POLIZA</option>
                        <option value="PARTICULAR">PARTICULAR</option>
                        <option value="OTRO">OTRO (Puede escribirlo en observaciones)</option>
                    </select><br><br><label for="price">Valor</label><input id="price" type="text" name="price"><br><br><label for="observations">Observaciones</label><input id="observations" type="text" name="observations" placeholder="Opcional"><br><br><input type="submit" value="Submit">
                    <p id="responseMsg" style="color:green;"></p>
                </form>
            </div>
            <div class="column-right">
                <div id="container-data"></div>
                <div class="button-create"><a id="submitrecord" onclick="submitData()">Guardar</a><a id="cancelrecord" href="/catalog">Volver</a></div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    let oldValue;
    let dataContainer = document.getElementById('container-data');
    let selectedPatientName;
    let selectedPatientId;

    function selectPatient(id, name) {
        console.log(name);
        selectedPatientName = name;
        selectedPatientId = id;
        let patientBar = document.getElementById('lastname');
        patientBar.value = name;
    }

    function displayPatientList(currentPatientList) {
        dataContainer.innerHTML = "";
        for (let i = 0; i < currentPatientList.length; i++) {
            let patient = currentPatientList[i];
            dataContainer.innerHTML += `
        <div class="container-patient">
            <div class="patient-data">
                <div class="patient-name">${patient.fullname}</div>
                <div class = "patient-id">${patient.id}</div>
            </div>
            <div class="add-patient" onclick="selectPatient(${patient.id},'${patient.fullname}')">Seleccionar</div>
        </div>
		`;

        }
    }

    function refreshSearchBar() {
        let currentPatientList;
        let newValue = document.getElementById('lastname').value;
        if (oldValue !== newValue) {
            oldValue = newValue;
            console.log(newValue);
            let firstChar = newValue.charAt(0);

            // Determine search type
            let searchType = isNaN(parseInt(firstChar)) ? 1 : 0;

            // Construct query parameters
            const params = new URLSearchParams({
                text: newValue,
                searchType: searchType
            });

            fetch(`/searchPatient?${params}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                    currentPatientList = data;
                    displayPatientList(currentPatientList);
                })
                .catch((error) => console.error('ERROR:', error));
        }

    }

    function insertImage() {
        console.log('I was clicked!');
        let imagesContainer = document.getElementById("patient-images-container");
        let newInput = document.createElement('input');
        imagesContainer.appendChild(newInput);
        //input.images(type="file")
        newInput.setAttribute('class', 'images');
        newInput.setAttribute('type', 'file');

    }

    document.getElementById('form').addEventListener("submit", submitData);

    function submitData(e) {
        e.preventDefault();
        let htmlImages = document.getElementById("images");
        const formData = new FormData();
        for (let i = 0; i < htmlImages.files.length; i++) {
            let imageFile = htmlImages.files[i];
            formData.append('files', imageFile);
        }
        formData.append('patientName', selectedPatientName);
        formData.append('patientId', selectedPatientId);
        formData.append('study', document.getElementById('study').value);
        formData.append('price', document.getElementById('price'.value));
        formData.append('sponsor', document.getElementById('sponsor').value);
        formData.append('observations', document.getElementById('observations').value);
        fetch('/newrecord', {
            method: 'POST',
            body: formData
        }).then((response) => response.json()).then((data) => {
            console.log('Success:', data.status);
            document.getElementById('responseMsg').value = "REGISTRO CREADO."
        }).catch((error) => console.error('ERROR:', error));


    }
</script>
