<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="content-container">
        <div class = "logo-container">
            <img src="{{ url_for('static', filename = 'logo.jpeg') }}" alt="logo" id="logo">
        </div>
        <div class="text-container">Bienvenido a NefroImagen</div>
        <a href="/patient/auth" class = "button">Paciente</a>
        <a href="/medic/auth" class = "button">Medico</a>
    </div>
</body>
</html>
